@keyframes border_anim {
  0%   {width: 50%;}
  100% {width: 100%;}
}
.nav-links a{
	position: relative;
}
.nav-links a:hover::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	right: 0;
	border-bottom: solid 2px #ED2025;
	transform: translateX(-50%);
	animation: border_anim .3s forwards;
}

.blink {
  animation: blinker 1s step-start infinite;
  animation-delay: 3s;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

@-webkit-keyframes caption {  
 	0% {
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}

.caption{
	animation: caption;
	animation-delay: 3s;
}

@media only screen and (max-width: 767px){
	@keyframes drop {  
	  from{height: 0;}
	  to{height: 100vh;}
	}
	.drop-curtain{
		height: 100vh;
		animation: drop .5s;
	}
}
/*@keyframes drop {  
  from{height: 0;}
  to{height: 100vh;}
}
.drop-curtain{
	height: 100vh;
	animation: drop .5s;
}*/

@keyframes reveal{
	from{opacity: 0;}
	to{opacity: 1;}
}
.drop-curtain li{
	opacity: 1;
	animation: reveal 1s linear;
	animation-delay: 3s linear;
}